{% extends 'profiles/base.html' %}

{% block content %}
    {% for task in tasks %}
        <article>
            <div>
                <a href="{{ task.get_absolute_url }}">{{ task.title }}</a>
            </div>
            {% if task.photo %}
                <div>
                    <p><img src="{{ task.photo.url }}"></p>
                </div>
            {% endif %}
            <div>
                {{ task.complexity }}
            </div>
            <div>
                {{ task.owner }}
            </div>
            <div>
                {{ task.points }}
            </div>
        </article>
    {% endfor %}
{% endblock content %}