{% extends 'profiles/base.html' %}
{% load static %}
{% block content %}

    <div class="row masonry-wrap">
        <div class="masonry">
            <div class="grid-sizer"></div>

                {% if info_errors %}
                    <h1>{{ info_errors }}</h1>
                {% endif %}

            <h1>{{ info_base }}</h1>

                <article class="masonry__brick entry format-standard">
                    <p><a href="{% url 'categories_shop' %}"><button type="submit">Вернуться в магазин</button></a></p>
                </article>
                <article class="masonry__brick entry format-standard">
                    <p><a href="{% url 'my_page' %}"><button type="submit">Моя страница</button></a></p>
                </article>
            </h1>
        </div>
    </div>

{% endblock content %}